<div class="section" id="account-info">
	<h2>Account Settings - example@mail.com</h2>
	<!--maybe add options for updating settings of setup-->
</div>

<div class="section" id="aliases">
	<h2>Aliases</h2>
	<form method="post">
		<fieldset>
			<p class="grouptop">
				<input type="text"
					   name="alias"
					   placeholder="alias"
					   value=""
					   autofocus />
			</p>
			<input type="submit"
				   class="primary"
				   value="{{ t 'Add' }}"/>
		</fieldset>
	</form>
</div>
<div class="section" id="signature">
	<h2>Signature</h2>
</div>

